<div class="form-group">
  <div class="form-group">
    <label for="gameDescInput">Ad text</label>
    <textarea
      [(ngModel)]="currentAd.text"
      class="form-control"
      rows="10"
      cols="40"
      id="gameDescInput"
    ></textarea>
  </div>
  <div class="form-group">
    <input
      type="button"
      value="Save"
      (click)="save()"
      class="btn btn-success"
    />
    <a
      [routerLink]="'/placeAbout/' + this.currentPlaceId"
      class="btn btn-warning"
      >Cancel</a
    >
  </div>
</div>
