<div *ngIf="loaded">
  <h2 style="text-align: center">{{ currentPlace.name }}</h2>
  <p style="white-space: pre-wrap">{{ currentPlace.description }}</p>
  <h2 style="text-align: center">Games served here:</h2>
  <div *ngIf="curUserId == currentPlace.ownerId">
    <a [routerLink]="'/createGame/' + currentPlace.id" class="nav-link">Add</a>
  </div>
  <table class="table table-striped">
    <tbody>
      <ng-container *ngFor="let g of offeredGames">
        <ng-container *ngIf="g.id != maskedGameId">
          <tr>
            <td>{{ g.name }}</td>
            <td *ngIf="curUserId == currentPlace.ownerId">
              <a
                [routerLink]="['/editGame', currentPlace.id, g.id]"
                class="btn btn-sm btn-primary"
                >Edit</a
              >
              <button (click)="delete(g.id)" class="btn btn-sm btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <h2 style="text-align: center">Comments</h2>
  <a [routerLink]="'/addComment/' + currentPlace.id" class="nav-link">Add</a>
  <table class="table table-striped">
    <tbody>
      <ng-container *ngFor="let c of curPlaceComments; let i = index">
        <tr>
          <td>
            <app-comment [(comment)]="curPlaceComments[i]"></app-comment>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
