<div *ngIf="loaded">
  <div class="container-fluid mb-5">
  <h2>Hello, {{ currentUser.name }} <img src='{{ imgUrl }}' width="60" height="50"></h2>  
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    {{ userForm.value | json }}

    <div class="form-group">
      <label>City</label>
      <input type="text" [(ngModel)]="user.city" class="form-control"  >
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="tel" [(ngModel)]="user.phone" class="form-control">
    </div>
  </form>

  <div class='mb-3'>
    <label>I am:</label>
    <div class='form-check'>
      <input class="form-check-input" ngModel type='radio' name="aboutPerson" value="silentPerson">
      <label class="form-check-label">a quiet person</label>
    </div>
    <div class='form-check'>
      <input class="form-check-input" ngModel type='radio' name="aboutPerson" value="noisyPerson">
      <label class="form-check-label">an empulsive person</label>
    </div>
  </div>

  <input type="button" value="Submit" (click)="save()" class="btn btn-success" />

  </div>

  <div style="text-align: center"><h2>Your places</h2></div>
  <div>
    <a [routerLink]="'/create/' + currentUser.id" class="nav-link">Add</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let p of currentPlaces">
        <ng-container *ngIf="p.id != maskedPlaceId">
          <tr>
            <td>{{ p?.name }}</td>
            <td>
              <a [routerLink]="['/edit', p.id]" class="btn btn-sm btn-primary"
                >Edit</a
              >
              <button (click)="delete(p.id)" class="btn btn-sm btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
